{% extends 'base_layout.html' %}


{% block content %}
<head>
<title>Formulario</title>
</head>
<body>



    <section>


        <form class="row g-3 d-flex justify-content-center p-5 bg-white">
          <div class="col-md-8  ">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
    
          <div class="col-md-8">
            <label for="inputAddress" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Ingrese su dirección">
          </div>
          <div class="col-md-8">
            <label for="inputCity" class="form-label">Ciudad</label>
            <input type="textarea" class="form-control" id="inputCity" placeholder="Ingrese su ciudad">
          </div>
          <div class="col-md-8">
            <label for="inputState" class="form-label">Sexo</label>
            <select id="inputState" class="form-select">
              <option selected>Elige...</option>
              <option>Masculino</option>
              <option>Femenino</option>
            </select>
          </div>

          <div class="col-md-8">
            <label for="exampleFormControlTextarea1">Mensaje</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
         
    
          <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
    
    
    
      </section>
    
</body>
    
{% endblock content %}    
    
